@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	top: 0;

}
body{
	scroll-behavior: smooth;

}
.fuente{
	color: red;
	text-decoration-color: red;
}
.containers{
	color: transparent;
	position: absolute;
	background: transparent;
	overflow: hidden;
	width: auto;
	display: flex;
	text-decoration: none;
	padding: 0;
	top: 0;
}
#myScrollspy {
	margin-top: 155px;
	margin-left: 60px;
	position:fixed;
}
.preloader{
	text-align: center;
	position: static;
	background-size: cover;
	top: 0px;
		left: 0px;
	height: 652px;
	width: 100%;
	background-position: center;
	overflow: hidden;
	background-color: white;

	z-index: 10;
}
.agradecemos{
	color: black;
}
.cerrar{
	transform: translateY(-100%);
	transition: all 0.5s;
}

#clase{
	width: 1180px;
	height: 80px;
	position: absolute;
	position: fixed;
	margin-left: 180px;
	top: 0;
	padding: 0;
margin: auto;
}
.itemauto{
	position: inherit;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 230px;
}

section {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: static;
	z-index: 3;
	width: 100%;
}
.logoceia{
	display: block;
	margin-left: auto;
	margin-right: 40%;
	text-align: center;
	position: fixed;
}
#contenedor_general{
	background-image: url("../img/Screen Shot 2019-07-30 at 21.49.39.png");
background-repeat: none;
		background-size: 200px ;
		background-position: center;
	overflow: hidden;
}
#branding {
	background-image: url("../img/branding.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}

#disenoeditorial {
	background-image: url("../img/diseñoeditorial.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}
#ilustracion {
	background-image: url("../img/ilustración.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}
#marketingdigital {
	background-image: url("../img/marketing digital.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}
#audiovisual {
	background-image: url("../img/audiovisual.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}
#objetos3d {
	background-image: url("../img/3d.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}
#disenoweb {
	background-image: url("../img/disenoweb.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
}
#contacto {
	background-image: url("../img/contacto.jpg");
	background-size: cover;
		background-position: center;
	overflow: hidden;
	height: 500px;
	width: auto;
}
h1,h2{
	text-align: center;
}

.redes{
	opacity: 1;
	background-color: orange;
	text-align: center;
	width: auto;
	height: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 0 20px 0;
	text-decoration: none;
	top: 0;
	left: 0;
}
.correo{
	color: black;
	background-color: transparent;
	top: 0;
	left: 0;
	margin-left: 45%;
	margin-right: 50%;
}
.coment{
	margin-left: 50px;
}

.mudra{
	text-align: center;
}
.scroll-top{
	 overflow-y: scroll;
  scroll-behavior: smooth;
	text-align: center;
	text-decoration: none;
	background-color: orange;
	height: 150px;
}
.indu{
	color: black;
	background-color: transparent;
	top: 0;
	left: 0;
	margin-left: 45%;
	margin-right: 50%;
	position: inherit;
}
#shop1{
	text-decoration: none;
	margin-left: 88%;
	margin-top: 3%;
	position: fixed;
	padding: 0;
}
#lola{
	position: absolute;
}
.nav-idiomas{
	margin-left: 0%;
	margin-top: 5%;
	margin-right: 20%;
	position: static;
}
#head1{
	display: none;
}